
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: cadetblue;
  text-align: center;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
h1{
  font-size: 60px;
  font-weight: 900;
}
#container{
  margin-top: 80px;
  
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container{
  width: 100%;
} */

#mini-msg{
  height: 20%;
  width: 50%;
  text-align: center;
  display: flex;
  font-size: 40px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-top: 2px solid rgb(125, 255, 136);
  border-bottom: 2px solid yellow;
}
.cont2{
  margin-top: 20px;
  height: 70vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  margin-top: 10px;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  font-size: 8vmin;
  background-color: rgb(111, 209, 177);
  color: #b0413e;
}
#reset-button{
  padding: 1rem;
  margin-top: 30px;
  font-size: 1.25rem;
  background-color: #191913;
  color: white;
  border-radius: 1rem;
  border: none;
  margin-bottom: 30px;
}
.heyWinner{
  
  color: black;
  font-size: 50px;
  text-align: center;
  height: 70vh;
  width: 50%;
  display: flex;
  border-radius: 50%;
  padding: 1.5vmin;
  justify-content: center;
  align-items: center;
}
.hola{
  background-color: rgb(189, 60, 98);
  color: black;
  font-size: 50px;
  text-align: center;
}
.newgame{
  padding: 0.7rem;
  margin-top: 40px;
  font-size: 1.25rem;
  background-color: rgb(189, 60, 98);
  color: white;
  border-radius: 1rem;
  border: none;
  margin-bottom: 30px;
}
.hide{
 visibility: hidden;
  
}
@media(max-width:1115px){
  .heyWinner{
  
    color: black;
    font-size: 50px;
    text-align: center;
    height: 70vh;
    width: 100%;
    display: flex;
    border-radius: 50%;
    padding: 1.5vmin;
    justify-content: center;
    align-items: center;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  .cont2{
    margin-top: 20px;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}